/* Basis Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* Hauptbereich */
html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(1, 1, 1);
}

/* Header & Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(58, 111, 118);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.menulogo {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
    z-index: 1001;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 1.5rem;
}

li a {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

/*Footer*/
footer {
    background-color: rgb(141, 138, 134);
    padding: 20px;
    text-align: center;
}

/*Credit in Footer*/
.github_credit {
    color: rgb(1, 1, 1);
    font-size: 14px;
}

.credit_margin {
    height: 20px;
}
