/*main*/

body {
    background: linear-gradient(
        to right,
        rgb(168, 231, 238) 0%,
        rgb(168, 231, 238) 3%,
        /* helles Türkis bis 25% */ rgb(0, 0, 0) 10%,
        /* Schwarz beginnt weich ab 25% */ rgb(0, 0, 0) 70%,
        /* Schwarz bis 60% */ rgb(168, 231, 238) 80%,
        /* Türkis kommt weich zurück ab 60% */ rgb(168, 231, 238) 100%
    );
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}

/*section welcome*/
.bg_img {
    top: 30%;
    left: 20%;
    object-position: center;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    object-fit: cover;
    opacity: 0.5; /* macht nur das Bild durchsichtig */
    z-index: 1;
}

.intro {
    position: relative;
    color: rgb(256, 256, 256, 1);
    font-size: 5rem;
    text-align: center;
    z-index: 2;
}

.intro_ut {
    position: relative;
    color: rgba(256, 256, 256, 1);
    font-size: 3rem;
    text-align: center;
    font-family: "Snell Roundhand", cursive;
    align-items: center;
    z-index: 2;
}

/*menubar*/
header {
    background-color: rgb(168, 231, 238);
    position: fixed; /* fixiert den Header relativ zum Viewport */
    top: 0; /* ganz oben */
    left: 0; /* ganz links */
    width: 100%; /* volle Breite */
    height: 100px; /* Höhe des Headers */
    display: flex; /* flexbox für Layout */
    align-items: center; /* vertikal zentrieren */
    padding: 0 20px; /* horizontaler Innenabstand */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* leichter Schatten */
    z-index: 1000; /* ganz oben anzeigen */
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 100px;
    font-size: 1.5rem;
}

li a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: bold;
    font-family: Style Script;
}

nav {
    width: 100%;
    background-color: rgb(168, 231, 238);
    padding: 20px 0;
    position: fixed;
}

.menulogo {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 200px;
    height: 200px;
    transform: translateY(-50%); /* vertikal zentriert */
    z-index: 1001;
}
